# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Node
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# Docker artifacts
*.tar
*.gguf

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Database and indexes
*.db
*.sqlite
faiss_index/

models_cache/